@model LibraryManagement.Business.Model.BookModel

<h1 class="text-center text-primary">Book Add Form</h1>
<form class="AddBkForm" asp-action="SaveBook" asp-controller="Book" method="post" enctype="multipart/form-data">
    <input class="res" type="text" asp-for="Book_Title" placeholder="Type Book_Title" required /><br />
    <input class="res" type="text" asp-for="Book_Category" placeholder="Type Book_Category" required /><br />
    <input class="res" type="text" asp-for="Book_Author" placeholder="Type Book_Author Name" required /><br />
    <input class="res" type="text" asp-for="Book_Prize" placeholder="Type Book_Prize" required /><br />
    <textarea class="res" cols="49.5" rows="2" asp-for="Book_Description" placeholder="Book Description...." required></textarea><br />
    <input class="res" type="file" asp-for="Attachmentfile" accept=".png,.jpg,.jpeg,.gif,.jfif" required /><br />
    <input class="res" type="file" asp-for="Book_PdfFile" accept=".pdf,.cpp" required /><br />
    <button type="submit" class="btn btn-outline-dark">Save</button>

</form>