@model IEnumerable<LibraryManagement.Business.Model.BookModel>

<div class="homeheader"><b> Welcome to Library </b></div> <br>

<table class="H_table">
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
         var k = item.AttachmentUrl;
            var T = item.Book_Pdf;

        <td><img class="sp" src="@Url.Content(k)" /> <br /> <p>@Html.DisplayFor(modelItem => item.Book_Title)</p><br> <a href="@Url.Content(T)" target="_blank"> <button id="HomePagebtnid" class="btn btn-primary"> Read </button> </a> </td>
        count++;
        if (count % 4 == 0)
        {
            <tr><br /></tr>
        }

        }
</table> 