@model IEnumerable<LibraryManagement.Business.Model.BookModel>
    <!-- BODY section starting  -->

<div class="offcanvas offcanvas-start text-bg-dark bg-dark text-white-50" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">&#128214 Menu</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body text-white">
        <Ul>
            <a href="https://localhost:7143/Book/AllBooks"><p class="Menulinks" style="color:white;">&#128073; View All Books List</p></a>
            <a href="https://localhost:7143/Book/SearchBook"><p class="Menulinks" style="color:white;">&#128073; Search Books by Category</p></a>
        </Ul>
    </div>
</div>

<div6><b> Welcome to Library </b></div6> <br>

<table class="H_table">
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
         var k = item.AttachmentUrl;
            var T = item.Book_Pdf;

        <td><img class="sp" src="@Url.Content(k)" /> <br /> <p>@Html.DisplayFor(modelItem => item.Book_Title)</p><br> <a href="@Url.Content(T)" target="_blank"> <button id="HomePagebtnid" class="btn btn-primary"> Read </button> </a> </td>
        count++;
        if (count % 4 == 0)
        {
            <tr><br /></tr>
        }

        }
</table> 