
.Loginform, .RegForm {
    margin-top: 23vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
    border: 1px solid 1px black;
    background: rgba(0,0,0,0.3);
    box-shadow: -2px 2px 2px white;
    border-radius: 10px;
    width: 50%;
    margin-left: 38vh;
    overflow: auto;
    margin-bottom: 10vh;
    text-align: center;
}

#inp, #inpbtn {
    margin: 1.6vh;
}

    #inpbtn:hover {
        background-color: transparent;
    }

.inpu {
    border-radius: 50px;
    width: 35vh;
}

h1 {
    color: brown;
    margin-bottom: 3vh;
    text-shadow: -1px 2px 2px white;
}

p {
    color: white;
    margin-bottom: -2vh;
    padding-top: 1vh;
}

.UserBtn {
    padding: 2vh;
}
