html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#user {
    margin-left: 50vh;
}

#dmd {
    width: 30px;
    overflow: hidden;
}

h4 {
    margin-left: 5vh;
}